<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Create Root Person</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <form th:action="@{/root}" th:object="${person}" method="POST">
                <div class="m-3">
                    <div class="form-group row">
                        <label class="col-4 col-form-label">First Name: </label>
                        <div class="col-8">
                            <input type="text" th:field="*{FirstName}" class="form-control" 
                            maxlength="25"/>
                        </div>
                    </div>
                 
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Last Name: </label>
                        <div class="col-8">
                            <input type="text" th:field="*{LastName}" class="form-control"
                                maxlength="25"/>
                        </div>
                    </div>
                 
                    <div class="form-group row">
                        <label class="col-4 col-form-label">Gender: </label>
                        <div class="col-8">
                            <select class="form-control" th:field="*{Gender}">
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                <option value="U">Unknown</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Date of Birth: </label>
                        <div class="col-8">
                            <input type="text" th:field="*{DOBirth}" class="form-control"
                                maxlength="10"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Place of Birth: </label>
                        <div class="col-8">
                            <input type="text" th:field="*{POBirth}" class="form-control"
                                maxlength="50"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Date of Death: </label>
                        <div class="col-8">
                            <input type="text" th:field="*{DODeath}" class="form-control"
                                maxlength="10"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Place of Death: </label>
                        <div class="col-8">
                            <input type="text" th:field="*{PODeath}" class="form-control"
                                maxlength="50"/>
                        </div>
                    </div>

                    <input type="hidden" th:field="*{TreeID}"/>

                    <input type="hidden" th:field="*{FatherID}"/>

                    <input type="hidden" th:field="*{MotherID}"/>

                    <input type="hidden" th:field="*{SpouseID}"/>

                    <input type="hidden" th:field="*{genOrder}"/>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Notes: </label>
                        <div class="col-8">
                            <textarea class="form-control" rows="12"
                        th:field="*{Notes}"></textarea>
                        </div>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary">Create Root</button>
                    </div>
                </div>    
            </form>
        </div>
    </body>
</html>