<html>
    <body>
        <div class="container" th:fragment="navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
              <a class="navbar-brand">Family Tree</a>
              <div class="navbar-nav">
                  <a class="nav-item nav-link" th:href="@{/home/}">Home</a>
                  <a class="nav-item nav-link" th:href="@{/table/}">Table view</a>
                  <a class="nav-item nav-link" th:href="@{/person/}">Add New Person</a>
                  <a class="nav-item nav-link" th:href="@{/account/}">Update Account</a>
                  <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-outline-danger">Log Out</button>
                  </form>
              </div>
            </nav>
        </div>
    </body>
</html>